{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset("css/party/index.css") }} rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="page-header"> パーティー一覧 </h1>
    <a class="btn btn-default party-new" href={{ path("party_new") }} role="button">パーティー追加</a>
    {% for i in 0..partyName|length-1 %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ partyName[i] }}
        </div>
        <div class="panel-body">
            <div class="row">
                {% for j in 0..5 %}
                <div class="col-lg-2">
                    <div class="poke-name">{{ party[i][j] }}@{{ pokeItem[i][j] }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer">
            <a class="party-prop" href="{{ path('party_prop') }}?id={{ i }}">詳細</a>
            <a class="battle" href="{{ path('battle_index') }}?id={{i}}">このパーティで対戦</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
