{% extends '::base.html.twig' %}

{% form_theme form1 _self %}
{% form_theme form2 _self %}
{% form_theme form3 _self %}
{% form_theme form4 _self %}
{% form_theme form4 _self %}
{% form_theme form6 _self %}

{% block form_row %}
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset("css/party/new.css") }} rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <h1 class="page-header"> パーティー追加 </h1>
    {% set forms = [form1,form2,form3,form4,form5,form6] %}
    <a class="btn btn-default party-new" href="#" role="button">パーティー登録</a>
    {% for i in 0..5 %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ i+1 }}体目</div>
        <div class="panel-body">
            {{ form_start(forms[i]) }}
            <div class="row">
                <div class="col-lg-3 form-group">
                    {{ form_label(forms[i].name,'ポケモン名') }}
                    {{ form_errors(forms[i].name) }}
                    {{ form_widget(forms[i].name) }}
                    {#  {{ form_row(forms[i].name) }} #}
                </div>
                <div class="col-lg-3 form-group">
                    {{ form_label(forms[i].item,'持ち物') }}
                    {{ form_errors(forms[i].item) }}
                    {{ form_widget(forms[i].item) }}
                    {#  {{ form_row(forms[i].item) }} #}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    {{ form_row(forms[i].h) }}
                </div>
                <div class="col-lg-2 form-group">
                    {{ form_row(forms[i].a) }}
                </div>
                <div class="col-lg-2 form-group">
                    {{ form_row(forms[i].b) }}
                </div>
                <div class="col-lg-2 form-group">
                    {{ form_row(forms[i].c) }}
                </div>
                <div class="col-lg-2 form-group">
                    {{ form_row(forms[i].d) }}
                </div>
                <div class="col-lg-2 form-group">
                    {{ form_row(forms[i].s) }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

