{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset("css/party/new.css") }} rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for i in 0..5 %}
            {% set tab_status= ""  %}
            {% if i == 0 %}
                {% set tab_status= "active" %}
            {% endif %}
            <li class={{ tab_status }}>
                <a href="#tab{{i}}" data-toggle="tab">{{i+1}}体目</a>
            </li>
        {% endfor %}
    </ul>
    
    <div class="tab-content">
        {% for i in 0..5 %}
            {% set tab_status = "" %}
            {% if i == 0 %}
                {% set tab_status = "tab-pane active" %}
            {% else %}
                {% set tab_status = "tab-pane" %}
            {% endif %}
            <div class={{ tab_status }} id="tab{{i}}">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                test{{i}}
            </div>
        {% endfor %}
    </div>
{% endblock %}

